.peopaik {
    text-align: center;
}

.box1{
height: 100px; 
}
.box2{
    height: 100px;
}
body, html {
    height: 100%;
    font-family: 'Roboto Slab', serif;
  }
  
  .bg {
    background-image: url("pilt.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
 

